/* ******** */
/* DEFAULTS */
/* ******** */

// COLORS
$color-primary: #111;
$color-secondary: #fff;
$color-btn: #eb4034;
$color-btn-font: #111;

// MARGIN
$margin-component: 50px 0; // gap between components 
